<!DOCTYPE html>
<html>
<head>
    <title>Videoke Rental System</title>

    <!-- css -->
    @Styles.Render("~/Content/stylesheets")
    @Styles.Render("~/font-awesome/fonts")
</head>
<body>
    @Html.Partial("HomeIndex")
    <!-- scripts -->
    @Scripts.Render("~/Scripts/js")
    <script>
        // free trial modal
        function freeTrialModal_OnClick() {
            $('#freeTrialModal').modal({
                show: true,
                backdrop: 'static'
            });
        }

        // six months modal
        function sixMonthsModal_OnClick() {
            $('#6MonthsModal').modal({
                show: true,
                backdrop: 'static'
            });
        }

        // 12months modal
        function twelveMonthsModal_OnClick() {
            $('#12MonthsModal').modal({
                show: true,
                backdrop: 'static'
            });
        }

        // Contact Us modal
        function contactUsModal_OnClick() {
            $('#ContactUsModal').modal({
                show: true,
                backdrop: 'static'
            });
        }

        //(function ($) {
        //    $(document).ready(function () {
        //        $('#cssmenu').prepend('<div id="menu-button">Menu</div>');
        //        $('#cssmenu #menu-button').on('click', function () {
        //            var menu = $(this).next('ul');
        //            if (menu.hasClass('open')) {
        //                menu.removeClass('open');
        //            }
        //            else {
        //                menu.addClass('open');
        //            }
        //        });
        //    });
        //})(jQuery);

        //$(document).ready(function () {
        //    $("#cf7_controls").on('click', 'span', function () {
        //        $("#cf7 img").removeClass("opaque");

        //        var newImage = $(this).index();

        //        $("#cf7 img").eq(newImage).addClass("opaque");

        //        $("#cf7_controls span").removeClass("selected");
        //        $(this).addClass("selected");
        //    });
        //});

    </script>
 

</body>
</html>

@*@{
        ViewBag.Title = "Home Page";
    }

    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@